@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --unit: 1rem; /* 1rem = 16px */
    --radius: 5px;
    --border: 1.8px;

    --color-primary: #f0bd66;
    --color-secondary: #f5f2ed;
    --color-dark: #002033;
    --color-gray: #7d818e;
    --color-light: #94a3b8;
    --color-link: #0ea5e9;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.24px;
    color: var(--color-dark);
    cursor: nw-default;
}

body {
    background-color: #f8fafc;
}

body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

h1 {
    margin-bottom: 24px;
}

h2 {
    margin-bottom: 18px;
}

h3 {
    margin-bottom: 14px;
}

h4 {
    margin-top: 14px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

.page-wrapper {
    width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 24px 24px 50px;
    background-color: #ffffff;
}

/*************************/
/* ТЕКСТ
/*************************/
.text-lev1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
}

.text-lev2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.text-lev3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.text-main {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.text-second {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.text-additional {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.text-bold {
    font-weight: 500;
}
.text-caps {
    text-transform: uppercase;
}
.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

/*************************/
/* МЕНЮ
/*************************/
.menu {
    background-color: #ebc9a2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0px;
}

.menu li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    text-decoration: underline;
}

/*************************/
/* ШАПКА
/*************************/
header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
}

.container {
    max-width: 1280px;
    margin: auto;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-btn {
    color: var(--color-dark);
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

/*************************/
/* ГЛАВНАЯ СТРАНИЦА
/*************************/
.index-form {
    position: relative;
    bottom: 24px;
    width: max-content;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    background: #ffffff;
    border-radius: var(--radius);
    z-index: 1000;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    padding: 12px 24px 18px;
    margin-bottom: 87px;
    margin: 0 auto;
}

.home-page {
    display: flex;
    justify-content: space-between;
}

.home-content {
    background-color: #f5f2ed;
    padding-top: 29px;
}

.home-title {
    width: 416px;
    margin-left: 152px;
    margin-top: 27px;
}

.home-title h1 {
    font-family: "Yeseva One", cursive;
    color: var(--color-dark);
    font-weight: 900;
    font-style: normal;
    font-size: 90px;
    line-height: 89px;
    padding-bottom: 73px;
    /* text-shadow: 0px 4px 6px rgba(34, 42, 70, 1); */
}

section h2 {
    font-family: "Yeseva One", cursive;
    color: var(--color-dark);
    /* text-shadow: 0px 1px 1px rgba(34, 42, 70, 1); */
    padding: 24px 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
}

/*************************/
/* КНОПКИ
/*************************/
.btn {
    width: 100%;
    height: 38px;
    padding: 0 24px;
    background-color: #f0bd66;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    transition: 0.15s ease-in-out;
}

.btn:hover {
    background-color: #f0bd6695;
}

.btn:active {
    background-color: #f0bd6669;
}

.btn-add {
    background-color: #7d818e;
}

.btn-add:hover {
    background-color: #7d818e95;
}

.btn-add:active {
    background-color: #7d818e69;
}

/*************************/
/* FORM, INPUT, SELECT
/*************************/
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
}

.form-hor {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 12px 0;
    justify-content: space-between;
}

input,
select {
    width: 100%;
    height: 38px;
    /* color: var(--color-light); */
}

.datalist input::placeholder {
    color: var(--color-dark);
}

.text-field__label {
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input,
.text-field__select {
    display: block;
    min-width: 200px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--border) solid var(--color-secondary);
    border-radius: var(--radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__counter {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray);
}

textarea {
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--border) solid var(--color-secondary);
    border-radius: var(--radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* 
datalist::placeholder, */
textarea::placeholder,
.text-field__input::placeholder {
    color: var(--color-light);
}

textarea:focus,
.text-field__input:focus,
.text-field__select:focus {
    background-color: #fff;
    border-color: var(--color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem #f0bd6650;
}

select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
        no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
}

option {
    font-size: 14px;
    background-color: #fff;
}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.check input[type="checkbox"] {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 2.9px solid #f5f5f5;
    border-radius: 15px;
}

.check label {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: var(--border) solid #adb5bd;
    border-radius: var(--radius);
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: var(--color-primary);
}

.custom-checkbox:checked + label::before {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: var(--border) solid #adb5bd;
    border-radius: 50%;
    margin-right: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: var(--color-primary);
}

.custom-radio:focus:not(:checked) + label::before {
    border-color: var(--color-primary);
}

.custom-radio:checked + label::before {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*************************/
/* КАРТОЧКА (в списке карточек)
/*************************/
.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.flex-card.profile {
    align-items: flex-start;
}

.flex-card a {
    max-width: 49%;
}

.grid-card {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.card {
    width: 100%;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.info-block {
    width: 200px;
}

.card img {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    width: 200px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}

.card-content {
    width: 64%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.card-content p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-content h3 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-info {
    width: 36%;
    max-width: 140px;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    /* justify-content: space-between; */
    gap: 24px;
}

.address {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-gray);
}

.rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.rating span {
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.rating span img {
    width: 18px;
    height: 18px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.profile img {
    border-radius: var(--radius);
    width: 400px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.profile .card-content {
    padding: 0;
}

.profile .card-content .card-info {
    padding: 0;
}

/*************************/
/* LOGIN/REGISTER
/*************************/
.login-page {
    width: 300px;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    border-radius: var(--radius);
    margin: 0 auto;
}

/*************************/
/* REVIEWS
/*************************/
.review-block {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review-unit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0;
}

.review-unit-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

/*************************/
/* RATING
/*************************/
.rating-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 36px;
    padding: 0;
    cursor: pointer;
    font-size: 36px;
    line-height: 36px;
    color: lightgrey;
    /* text-shadow: 1px 1px #bbb; */
}

.rating-area:not(:checked) > label:before {
    content: "★";
}

.rating-area > input:checked ~ label {
    color: var(--color-primary);
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: var(--color-primary);
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: var(--color-primary);
}

.rate-area > label:active {
    position: relative;
}

/*************************/
/* ХЛЕБНЫЕ КРОШКИ
/*************************/
.breadcrumb ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.breadcrumb li a {
    color: var(--color-link);
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb ul li:not(:last-child):after {
    content: "/";
    margin-left: 20px;
}
