@media (min-width: 280px) and (max-width: 767px) {
  .container {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .page-wrapper {
    width: 100%;
  }

  .home-page {
    width: 100%;
    padding: 29px;
  }

  .home-page h1 {
    font-size: 28px;
    line-height: 90%;
  }
  .home-page h2 {
    font-size: 20px;
    line-height: 120%;
  }

  .home-img {
    width: 50%;
  }
  .home-img img {
    height: auto;
    width: 90%;
  }
  .page-img {
    width: 150px;
  }

  .index-form {
    width: 100%;
    position: relative;
    bottom: 40px;
    /* width: fit-content; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    flex-wrap: wrap;
  }

  .text-field {
    min-width: 70%;
}
  .index-form__flexWrapper {
    width: 50%;
    margin: 0 12%;
    justify-content: center;
  }
  .index-form .text-field {
    width: 48%;
  }
  .btn-search {
    width: 50%;
  }
  .index-form .text-field__input,
  .index-form .text-field__select {
    width: 100%;
    font-size: 11px;
  }

  .form-hor {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
    justify-content: space-between;
  }

  .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .flex-card a {
    max-width: 100%;
  }

  .card {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info-block {
    width: 200px;
  }

  .card img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    flex-shrink: 0;
  }

  .card-content {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .card-content h3 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
  }

  .card-info {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    /* justify-content: space-between; */
    gap: 24px;
  }

  .rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .flex-card-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  .profile-aside:nth-child(1) {
    width: 100%;
    order: 0;
  }

  .profile-aside:nth-child(3) {
    width: 100%;
    order: 2;
  }

  .profile-content:nth-child(2) {
    width: 100%;
    order: 1;
  }

  .profile-content:nth-child(4) {
    width: 100%;
    order: 3;
  }

  .profile-aside {
    width: 100%;
  }

  .profile-aside img {
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    flex-shrink: 0;
  }

  .text-lev1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
  }

  .text-lev2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }

  .profile-content h1 {
    margin: 0;
  }

  .card-info {
    padding: 12px 0;
  }

  .review-block {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  /* ___________DESCRIPTION____________ */

  .description {
    flex-direction: column;
  }
  .description-col {
    width: 100%;
    text-align: center;
    padding: 2% 4%;
  }
  .description-item {
    margin-bottom: 1%;
  }
  .description-header {
    font-size: 1.3rem;
  }
  .description-text {
    font-weight: 400;
    font-size: 1rem;
  }
  .img-description {
    max-width: 50%;
    align-self: center;
  }
}

@media (max-width: 420px) {
  .index-form__flexWrapper {
    width: 100%;
    gap: 5%;
  }
  .home-img {
    display: none;
  }
  .home-title {
    width: 100%;
  }
  .home-title__brand {
    text-align: center;
  }
  .btn-search {
    width: 75%;
  }
  .index-form {
    bottom: 0;
  }
  .text-field {
    min-width: 50%;
  }
  .text-field__margin {
    margin-left: 5%;
  }
}

@media (max-width: 320px) {
  /* .text-field {
        min-width: 75%;
    } */
  .text-field__margin {
    margin-left: 0;
  }
}
