@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --unit: 1rem; /* 1rem = 16px */
  --radius: 5px;
  --border: 1.8px;

  --color-primary: #f0bd66;
  --color-secondary: #f5f2ed;
  --color-dark: #002033;
  --color-gray: #7d818e;
  --color-light: #f8fafc;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.24px;
  color: var(--color-dark);
}

body {
  background-color: var(--color-light);
}

body,
h1,
h2,
h3,
h4,
p,
a,
ul {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #ebc9a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0px;
}

.menu li {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  text-decoration: underline;
}

.page-wrapper {
  width: 1280px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 80px 24px 0;
  background-color: #ffffff;
}

/*************************/
/* ТЕКСТ
/*************************/
.text-lev1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}

.text-lev2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.text-lev3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.text-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.text-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.text-additional {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.text-bold {
  font-weight: 500;
}
.text-caps {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
